<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if site.author.name %}<meta name="author" content="{{ site.author.name }}">{% endif %}
    <link rel="stylesheet" href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/style.css" />
    <link rel="icon" type="image/png" href="{{ ASSET_PATH }}/img/favicon.png" />
    <!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="{{ ASSET_PATH }}/img/favicon.ico" /><![endif]-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/javascript/main.js"></script>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-460517-6']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
</head>
<body>
  <header>
      <hgroup>
          <h1>Eklaweb</h1>
      </hgroup>
  </header>
  <div id="shadow-header"></div>
  <div id="nav-border"></div>
  <nav id="nav">
    <div class="container">
      <div class="row">
        <div class="subtitle span2">Tech Blog</div>
        <div class="row">
          <ul class="unstyled">
              <li class="span2 offset1"><a href="{{ BASE_PATH }}/index.html" id="link-index">Derniers Articles</a></li>
              <li class="span2"><a href="{{ BASE_PATH }}/tags.html" id="link-tags">Tags</a></li>
              <li class="span2"><a href="http://www.eklaweb.com" id="link-eklaweb">Nos solutions <i class="icon-chevron-right icon-white"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
  <div class="row">
    <div class="span9">
      {{ content }}
    </div>

    <section id="menu" class="span3">
      <h2>Tags</h2>
      <ul class="unstyled">
        {% assign tags_list = site.tags %}
        {% include JB/tags_list %}
      </ul>
      <h2>Articles</h2>
      <ul class="unstyled">
        {% for post in site.posts limit:5 %}
        <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </section>

  </div>
  </div>


    <footer>
      <div class="container">
        <div id="footer-line" class="row">
                Eklaweb - <a href="javascript:;" id="link-legals">Mentions légales</a>
            </div>
            <div id="legals" class="row">
                <h3>Mentions légales</h3>
                <h4>La société</h4>
                <p>
                    <strong>Dénomination sociale :</strong> EklaWeb<br />
                    <strong>Forme sociale :</strong> Société à Responsabilité Limitée<br />
                    <strong>Capital social :</strong> 1.000 euros<br />
                    <strong>RCS :</strong> Nantes - 512 122 730<br />
                    <strong>Siège social:</strong> 1 place Graslin, 44000 Nantes<br />
                    <br />
                    "EklaWeb" est une marque déposée à l'I.N.P.I de Paris sous le numéro 07 3 512 950
                </p>

                <h4>Hébergeur :</h4>
                <p>
                    <strong>OVH SAS</strong><br />
                    2 rue Kellermann<br />
                    59100 Roubaix
                </p>
        </div>
      </div>
    </footer>

  </body>
</html>
