<article class="post">
  <div class="page-header">
    <h1>{{ p.title }}</h1>{% if p.tagline %}<small>{{ p.tagline }}</small>{% endif %}
    <strong>Published : </strong><span class="date">{{ p.date | date_to_long_string }}</span><br />
    {% unless p.tags == empty %}
      <strong>Tags : </strong>
      <ul class="unstyled tags">
      {% assign tags_list = p.tags %}
      {% include JB/tags_list %}
      </ul>
    {% endunless %}
  </div>

  <div>
   {{ p.content }}
  </div>

  <div class="pagination">
    <ul>
    {% if p.previous %}
      <li class="prev"><a href="{{ BASE_PATH }}{{ p.previous.url }}" title="{{ p.previous.title }}">&larr; Previous</a></li>
    {% else %}
      <li class="prev disabled"><a>&larr; Previous</a></li>
    {% endif %}
    {% if page.next %}
      <li class="next"><a href="{{ BASE_PATH }}{{ p.next.url }}" title="{{ p.next.title }}">Next &rarr;</a></li>
    {% else %}
      <li class="next disabled"><a>Next &rarr;</a></li>
    {% endif %}
    </ul>
  </div>
  {% include JB/comments %}
</article>
